body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color:rgb(100,100,100);
	margin:0;
}
h1 {
	padding-top: 300px;
	font-size: 50px;
	margin-bottom: 0;
	font-weight: unset;
}
.title > h2 {
	font-size:15px;
	text-decoration: none;
	margin:0 0 10px 0;
	font-weight: unset
}
.grey {
	background-color: rgb(100,100,100);
	color: white;
}
tspan {
	clear: both;
}
.key{
	font-size:10px;
}
.axis{
	text-align: center;
	stroke-width: .5;
	shape-rendering:crispEdges;
}
line.axis{
	stroke-width: 1;
}
.axis.key {
	text-anchor: middle;
}
.axis.title {
	font-size: 15px;
}
.semi-grey {
	background-color: rgb(100,100,100,.875);
	color: white;
}
.container {
	text-align: center;
	position:relative;
	overflow:hidden;
}
.caption {
	border-top: black 1px solid;
	padding-top: 5px;
	
}
#feature-text {
	position: absolute;
	left:0;
	top: 0; 
	z-index:-1;
	margin:20px;
	color: rgb(100,100,100);
}

line {
	fill:rgb(0,0,0);
}
.secret{
	z-index:100;
	opacity:0;
}
.tip{
	position: absolute;
	float: left;
	border: 1px solid rgb(128,128,128,.5);
	text-align: center;
	padding: 5px;
}
#key-tip-1{
	position: absolute;
	float: center;
	top: 15%;
	left: 25%;
	width: 50%;
	border: 1px solid rgb(0,0,0,.5);
	background: rgb(225,225,225,.75);
	color: rgb(0,0,0);
	text-align: center;
	padding: 5px;
	pointer-events: none;
	font-size: 12px;
	z-index:15;
}
#tip {
	position: absolute;
	float: left;
	border: 1px solid rgb(128,128,128,.5);
	text-align: center;
	padding: 5px;
	z-index:15;
	pointer-events: none
}
.hidden, .not-drawn {
	display: none;
}
	
	.bank > .series-0 {
	fill : rgb(0,0,0);
	stroke : rgb(0, 0, 0);
}
.series-0 {
	fill : rgb(37, 186, 44);
	stroke : rgb(37, 186, 44);
}

#chart-2 > .series-0 {
	fill : rgb(0,0,0);
	stroke : rgb(0, 0,0);
}

.series-1 {
	fill : rgb(0, 122, 34);
	stroke : rgb(0, 122, 34);
}

.series-2 {
	fill: rgb(41, 206, 0);
	stroke: rgb(41, 206, 0);
}
.series-3 {
	fill: rgb(234, 255, 5);
	stroke: rgb(234, 255, 5);
}
.series-4 {
	fill: rgb(147, 2, 61);
	stroke: rgb(147, 2, 61);			
}
.series-5 {
	fill: rgb(5, 97, 240);
	stroke: rgb(5, 97, 240);
}
.star {
	fill: (255,255,255);
	stroke-width: 1 !important;
	pointer-events: none;
	z-index: 10;
}
polygon{
	pointer-events: none;
	z-index: 10;
}
rect {
	stroke: black !important; 
	stroke-width: 2;
	-webkit-animation: crossanimate 1s;  
	-webkit-animation-iteration-count: infinite;
	animation: crossanimate 1s;
	animation-iteration-count: infinite
	-webkit-animation: crossanimate 1s;  
	-webkit-animation-iteration-count: infinite;
	animation: crossanimate 1s;
	animation-iteration-count: infinite;
}
path.cross {
	stroke: black !important; 
	stroke-width: 2;
	pointer-events:none;
}

rect.key:hover, rect.key:hover + path.cross{
	-webkit-animation: mymove 1s;
	-webkit-animation-iteration-count: infinite;
	animation: mymove 1s;
	animation-iteration-count: infinite;
}

rect.hidesib + path.cross{
	display:none;
}

@-webkit-keyframes mymove {
	from {
		stroke-width:1;
		stroke:rgb(100,100,100);
		}
	to {
		stroke:white;
		stroke-width:2;
		}
}

@keyframes mymove {
	from {
		stroke-width:1;
		stroke:rgb(100,100,100);
		}
	to {
		stroke:white;
		stroke-width:2;
		}
}	
.pew {
	fill : black !important;
}
#cover{
	fill: rgb(100,100,100,1);
	stroke-width: 0;
	pointer-events:none;
}
svg.chart{
	position: absolute;
	  width:1000px;
	  max-width: 1000px;
	  min-width: 1000px;
	  height: 500px;
	  overflow: hidden;
	  margin: 0 auto;
	  left:0;
	  right:0;
	  padding:none;
	  z-index:10;
	  background-color:rgb(100,100,100);
}
#container{
	height:100vh;
}
#chart-container{
	position:absolute;
	width:999px;
	height:100vh;
	overflow: hidden;
	margin: 0 auto;
	left:0;
	right:0;
}
.pew {
	pointer-events:none;
}
#triangle{
	-webkit-animation: triangle-fade .5s infinite; /* Safari 4+ */
	-moz-animation: triangle-fade .5s infinite; /* Fx 5+ */
	-o-animation: triangle-fade .5s infinite; /* Opera 12+ */
	animation: triangle-fade .5s infinite; /* IE 10+, Fx 29+ */
	animation-direction: alternate
}
@-webkit-keyframes triangle-fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes triangle-fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes triangle-fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes triangle-fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
#intro-slide{
	background: rgb(100,100,100);
	position:absolute;
	width:1000px;
	top:0px;
	z-index:14;
	overflow:visible;
	height:100%;
	margin: 0 auto;
	left:0;
	right:0;
}
#intro-text{
	top:100%;
	position:absolute;
	z-index:14;
}
#top-grad{
	height:100px;
	position: fixed;
	top:0;
}
#footer-grad{
	position: fixed;
	bottom: 0;
	height:100px;
}
#middle-grad{
	height: 50px;
	width:1000px;
	position: fixed;
	top: 501px;
	margin: 0;
}
.gradient-bottom{
	background: linear-gradient(0deg, rgba(100,100,100,1) 0%, rgba(100,100,100,0)100%);
	width:1000px;
	z-index:15;
}
.gradient-top{
	background: linear-gradient(0deg, rgba(100,100,100,0) 0%, rgba(100,100,100,1)100%);
	width:1000px;
	z-index:15;
}
#narration{
	position:absolute;
	left: 0;
	right: 0;
	width:1000px;
	text:black;
	z-index:5;
}
#summary-slide{
	position:absolute;
}
div.source {
	background-color: rgb(0,150,150);
	text-decoration: none;
}
a {
	text-decoration: none;
}
div.source:hover {
	background-color: white
}
.source-list > div {
	display: inline-block;
	padding: 5px;
	margin-top:10px;
	margin-bottom:5px;
	border-color: black;
	border: 1px solid;
}
source-list > p {
	font-size: 15px;
	line-height:1.5em;
	margin: 0;
	padding: 0;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
}
div.source-list {
	border-top: rgb(70,70,70) 1px solid;
}
summary-slide > h2{
	font-size: 40px;
	margin:0;
}
h3 {
	margin: 0;
	font-size: 
}
#summary-slide, a{
	color: black;
}
ul {
	margin: 0;
	list-style-type: none;
}
ul > li:before {
	content: "-";
	text-indent: -5px;
}